server:
  port: 8888
spring:
  application:
    name: config-server
  profiles:
    active: dev
  cloud:
    config:
      server:
        git.uri: file:///Users/yashpatel/Professional/Java/Workspace/Business Market/Business-Market-Config
        git.searchPaths: global, api-gateway, user-service
        git.skipSslValidation: true
        default-label: main
        # search-paths: config
      profile: dev
  security:
    user:
      name: root
      password: ypatel

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka